
.container-fluid {
    font-family: Georgia, serif;
    font-weight: bolder;
    font-size: 15px;
    margin-left: 20px;

}
.myh2 {
    font-weight: bolder;
    font-size: 50px;
}

.searchSection, .display {
    background-color: rgb(95, 99, 100);
    
}
.card {
    margin-left: 7.5%;
    margin-right: 70%;
    background-color: aqua;
}
.forecastCard {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50%;
    height: 200px;
    width: 200px;
    background-color: aqua;
    font-size: larger;
}
.myBtn {
    background-color: rgb(34, 48, 61);
    color: rgb(187, 125, 125);
    margin-top: 15px;
}
.low {
    background-color: rgb(202, 230, 176);
    padding: 10px;
}

.moderate {
    background-color: rgb(245, 212, 26);
    padding: 10px;
}

.high {
    background-color: rgb(197, 81, 13);
    padding: 10px;
}