
.myh2 {
    font-weight: bolder;
    font-size: 50px;
}

.searchSection, .display {
    background-color: rgb(167, 226, 241);
    
}
.card{
    margin-left: 10%;
    margin-right: 70%;
    background-color:azure;
}
.forecastCard {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50%;
    height: 200px;
    width: 200px;
    background-color: azure;
    font-size: larger;
}
.myBtn {
    background-color: rgb(168, 98, 165);
    color: rgb(66, 31, 31);
    margin-top: 15px;
}
.low {
    background-color: rgb(120, 161, 82);
    padding: 0px;
}

.moderate {
    background-color: rgb(245, 179, 26);
    padding: 0px;
}

.high {
    background-color: rgb(224, 97, 24);
    padding: 0px;
}